<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%" height="32" class="txtSmall"><div align="center">Are you sure 
        you want to delete this event?</div></td>
    <td width="50%"> <div align="center">
        <input name="yes" type="submit" id="yes" value="Yes" class="miscFormButtons">
        <img src="/core/images/admin/spacer.gif" width="15" height="1"> 
        <input name="no" type="submit" id="no" value="No" class="miscFormButtons">
        <input type="hidden" name="eid" value="{{EID}}">
        <input type="hidden" name="a" value="deleteEvents_finish">
      </div></td>
  </tr>
</table>

