<HTML>
<HEAD>
<TITLE>Administration Section</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/admin/includes/admin_styles.css">
</HEAD>
<BODY BGCOLOR=#FFCC00 leftmargin="5" topmargin="5" marginwidth="5" marginheight="5" text="#000000" link="#000000" vlink="#000000" alink="#000000">
<form name="form1" method="post" action="">
  <table width="93%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr> 
      <td> 
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td width="1%"><img src="/admin/images/tableTop_L.gif" width="181" height="6"></td>
            <td bgcolor="#FFFFFF" width="98%"><img src="/admin/images/spacer.gif" width="1" height="1"></td>
            <td width="1%"><img src="/admin/images/tableTop_R.gif" width="181" height="6"></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr> 
      <td bgcolor="#FFFFFF" bordercolor="#FFFFFF"> 
        <table width="100%" border="0" cellspacing="0" cellpadding="4">
          <tr> 
            <td class="txtLargeBold">ADMINISTRATION</td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td align="left" valign="top" width="50%"> <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td> <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr> 
                        <td><img src="/admin/images/CtL_cornerBL.gif" width="5" height="5"></td>
                      </tr>
                      <tr> 
                        <td> <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr> 
                              <td bgcolor="#FFCC00" width="99%"><img src="/admin/images/spacer.gif" width="1" height="1"></td>
                              <td align="right" width="1%"><img src="/admin/images/CtL_curve.gif" width="60" height="5"></td>
                            </tr>
                          </table></td>
                      </tr>
                      <tr bgcolor="#FFCC00" align="center"> 
                        <td><font face="Verdana, Arial, Helvetica, sans-serif" size="1" class="txtSmall">Administration</font></td>
                      </tr>
                      <tr> 
                        <td> <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr> 
                              <td align="left"><img src="/admin/images/CtL_cornerTL.gif" width="5" height="5"></td>
                              <td align="right"><img src="/admin/images/CtL_cornerTR.gif" width="7" height="5"></td>
                            </tr>
                          </table></td>
                      </tr>
                    </table></td>
                </tr>
                <tr> 
                  <td> <table border="0" cellspacing="0" cellpadding="0" width="100%">
                      <tr> 
                        <td width="100%"> <table width="100%" border="0" cellspacing="0" cellpadding="4">
                            <tr align="center"> 
                              <td class="txtSmallBold"><a href="/admin/events/index.asp">EVENT LISTINGS</a><br>
                                <br> <a href="/admin/whatsnew/index.asp">WHAT'S NEW LISTINGS</a>
                                </td>
                            </tr>
                          </table></td>
                        <td bgcolor="#FFCC00" width="2"><img src="/admin/images/spacer.gif" width="2" height="1"></td>
                      </tr>
                    </table></td>
                </tr>
                <tr> 
                  <td> <table border="0" cellspacing="0" cellpadding="0" width="100%">
                      <tr> 
                        <td width="100%"> <table border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tr align="left"> 
                              <td><img src="/admin/images/CtL_cornerBL.gif" width="5" height="5"></td>
                            </tr>
                            <tr bgcolor="#FFCC00"> 
                              <td><img src="/admin/images/spacer.gif" width="1" height="2"></td>
                            </tr>
                            <tr align="left"> 
                              <td><img src="/admin/images/CtL_cornerTL.gif" width="5" height="5"></td>
                            </tr>
                          </table></td>
                        <td align="right" valign="top" width="6"><img src="/admin/images/CtL_curveBR.gif" width="6" height="7"></td>
                      </tr>
                    </table></td>
                </tr>
              </table></td>
            <td width="25"><img src="/admin/images/spacer.gif" width="25" height="1"></td>
          </tr>
        </table>
        <p align="center">&nbsp;</p>
      </td>
    </tr>
    <tr> 
      <td bgcolor="#FFFFFF" bordercolor="#FFFFFF">&nbsp;</td>
    </tr>
    <tr> 
      <td> 
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td width="1%"><img src="/admin/images/tableBottom_L.gif" width="181" height="6"></td>
            <td bgcolor="#FFFFFF" width="98%"><img src="/admin/images/spacer.gif" width="1" height="1"></td>
            <td width="1%"><img src="/admin/images/tableBottom_R.gif" width="181" height="6"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>
<p>&nbsp;</p>
</BODY>
</HTML>